@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        1 Lohas Park Road<br />
        Tseung Kwan O, NT, HK<br />
        <abbr title="Phone">P:</abbr>
        +852 63700708
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
    </address>
</div>