@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-image: url('../Images/bg.jpg');background-repeat:no-repeat;background-size:cover;">
    <h1><font color="white">ISAD251_AndyLam</font></h1>
    <p class="lead"><font color="white">Welcome to ISAD251_AndyLam Pub</font> </p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href = '@Url.Action("Index", "Items")'">Order Some Food/ Drink&raquo;</button></p>
</div>


<div class="container">
    <div class="intro">
        <h2 class="text-center">House Favourite:</h2>
        <p class="text-center">There are three "House Favourite" as below </p>
    </div>
    <div class="row articles">
        <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="~/Images/mojito.jpg" /></a>
            <h3 class="name">Mojito</h3>
            <p class="description">Mojito is a traditional Cuban highball. Traditionally, a mojito is a cocktail that consists of five ingredients: white rum, sugar, lime juice, soda water, and mint. Its combination of sweetness, citrus, and herbaceous mint flavors is intended to complement the rum, and has made the mojito a popular summer drink.</p>
        </div>
        <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="~/Images/cocktail.jpg" /></a>
            <h3 class="name">Old-Fashioned</h3>
            <p class="description">The old-fashioned is another cocktail that is very simple and a great way to experience different whiskies. It will also introduce you to the bartending technique of muddling and it is more about the process than the ingredients.</p>
        </div>
        <div class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="~/Images/LongIsland.jpg" /></a>
            <h3 class="name">Long Island</h3>
            <p class="description">A Long Island iced tea is a type of alcoholic mixed drink typically made with vodka, tequila, light rum, triple sec, gin, and a splash of cola, which gives the drink the same amber hue as its namesake.</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>



</div>
